.main-button-container{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    column-gap: 40px;
    row-gap: 40px;
    padding-top: 60px;
}

.main-button-column-one{
    flex: 1;
    text-align: center;
    padding-right: 10px;
    
}

.main-button-column-two{
    flex: 1;
    text-align: center;
    height: auto;
    object-fit: contain;
   
}

.button-h2{
    color: var(--colour-primary);
}

.button-hr-style-two{
    border-top: 1px dashed rgba(233, 119, 119, 0.363);
}

.second-button-container{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    column-gap: 40px;
    row-gap: 40px;
}

.second-button-column-one{
    flex: 1;
    text-align: center;
    padding: 30px;
    
}

.second-button-column-two{
    flex: 1;
    padding: 30px;
    text-align: center;
    height: auto;
    object-fit: contain;
   
}

