.main {
  padding: var(--spacing-l);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(-1 * var(--spacing-xl));
  margin-bottom: var(--spacing-l);
  background: var(--colour-background-white);
  border-radius: var(--border-radius-l);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  body:not(.home-page) .main {
    margin-left: var(--spacing-s);
    margin-right: var(--spacing-s);
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }
}
